# SPDX-FileCopyrightText: Huawei Inc.
#
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=Epiphany browser started for %i application
Requires=weston@root.service
After=weston@root.service

[Service]
Environment="WAYLAND_DISPLAY=wayland-0"
Environment="XDG_RUNTIME_DIR=/run/user/0"
ExecStart=/usr/bin/epiphany -a --profile /home/root/.local/share/epiphany-@EPIPHANY_APP@ @EPIPHANY_URL@
Restart=always

[Install]
WantedBy=multi-user.target
