# SPDX-FileCopyrightText: Huawei Inc.
#
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=OpenThread Border Router Configuration
ConditionPathExists=/usr/sbin/otbr-configuration
After=sys-subsystem-net-devices-wpan0.device
BindsTo=sys-subsystem-net-devices-wpan0.device

[Service]
Type=oneshot
ExecStart=/usr/sbin/otbr-configuration
