# SPDX-FileCopyrightText: Huawei Inc.
#
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=Vending Machine Control Application

[Service]
Type=notify
ExecStart=/usr/bin/vending-machine-control-application
Restart=always

[Install]
WantedBy=multi-user.target
