# SPDX-FileCopyrightText: Huawei Inc.
#
# SPDX-License-Identifier: MIT

[Unit]
Description=Tayga NAT64
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/tayga --nodetach --config /etc/tayga.conf

[Install]
WantedBy=multi-user.target
