[Match]
Name=wlan0

[Network]
Address=172.16.47.1/24
DHCPServer=true
IPMasquerade=true

[DHCPServer]
PoolOffset=100
PoolSize=50
EmitDNS=yes
DNS=9.9.9.9 8.8.8.8
