# SPDX-FileCopyrightText: Huawei Inc.
#
# SPDX-License-Identifier: Apache-2.0

# Bump this each time bblayers.conf.sample changes incompatibly. For example,
# when integrating new layers. It needs to be in sync with
# ONIRO_REQUIRED_LAYERS_CONF_VERSION for associated sanity check to pass.
ONIRO_LAYERS_CONF_VERSION = "1"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/../oniro/meta-oniro-staging \
  ##OEROOT##/meta \
  ##OEROOT##/../meta-arm/meta-arm \
  ##OEROOT##/../meta-arm/meta-arm-toolchain \
  ##OEROOT##/../meta-clang \
  ##OEROOT##/../meta-zephyr/meta-zephyr-bsp \
  ##OEROOT##/../meta-zephyr/meta-zephyr-core \
  ##OEROOT##/../oniro/meta-oniro-core \
  ##OEROOT##/../meta-openharmony \
  ##OEROOT##/../meta-freertos \
  ##OEROOT##/../meta-intel \
  ##OEROOT##/../meta-seco-intel \
  ##OEROOT##/../meta-freescale \
  ##OEROOT##/../meta-seco-imx \
  ##OEROOT##/../meta-openembedded/meta-oe \
  ##OEROOT##/../meta-openembedded/meta-filesystems \
  ##OEROOT##/../meta-openembedded/meta-networking \
  ##OEROOT##/../meta-openembedded/meta-perl \
  ##OEROOT##/../meta-openembedded/meta-python \
  ##OEROOT##/../meta-raspberrypi \
  ##OEROOT##/../meta-security \
  ##OEROOT##/../meta-riscv \
  ##OEROOT##/../meta-rauc \
  ##OEROOT##/../meta-java \
  ##OEROOT##/../meta-seco-rockchip \
  ##OEROOT##/../meta-virtualization \
  "
