# SPDX-FileCopyrightText: Huawei Inc.
#
# SPDX-License-Identifier: MIT

[Unit]
Description=home mount - appdata
Before=sysinit.target
Requires=run-mount-appdata.mount
After=run-mount-appdata.mount

[Mount]
What=/run/mount/appdata/user-data/home
Where=/home
Options=bind

[Install]
WantedBy=sysinit.target
